@media (max-width: 600px) {
    section.BadgeContainerList {
     margin: 0 !important;
     width: 100% !important;
    }
}

section.BadgeContainerList {
    height: auto;
    margin: 0 auto;
    padding: 2em;
    width: 50%;
}

div.btn-options {
    display: flex;
    justify-content: flex-end;
}